<ion-header [translucent]="true">
  <ion-toolbar color="primary" >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Crear Objetos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="todoForm" (ngSubmit)="storeData()">
    <ion-item >
      <ion-label position="floating">Name</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Tipo</ion-label>
      <ion-select formControlName="category" value="Warframe" okText="Accept" cancelText="Cancel">
        <ion-select-option value="Warframes">Warframe</ion-select-option>
        <ion-select-option value="Primary">Primary</ion-select-option>
        <ion-select-option value="Secondary">Secondary</ion-select-option>
        <ion-select-option value="Melee">Melee</ion-select-option>
        <ion-select-option value="Arch">Arch</ion-select-option>
        <ion-select-option value="Sentinels">Sentinels</ion-select-option>
        <ion-select-option value="Pets">Pets</ion-select-option>
        <ion-select-option value="Arcanes">Arcanes</ion-select-option>
        <ion-select-option value="Mods">Mods</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item >
      <ion-label position="floating">Components</ion-label>
      <ion-input formControlName="components"></ion-input>
    </ion-item>

    <ion-item >
      <ion-label position="floating">Farming</ion-label>
      <ion-textarea formControlName="farming"></ion-textarea>
    </ion-item>

    <ion-item >
      <ion-label position="floating">Extra</ion-label>
      <ion-textarea formControlName="extra"></ion-textarea>
    </ion-item>

    <br>

    <ion-button expand="block" (click)="alerta()" [disabled]="todoForm.invalid">
      <ion-icon  slot="icon-only" name="add"></ion-icon>
      &nbsp;Agregar
    </ion-button>

  </form>
</ion-content>