.active {
    border-left: solid #2a5399 20px !important;
    border-right: solid #2a5399 20px !important;
    border-radius:5px !important;
}
  .opciones {
    font-weight: bold;
    font-size: 15px;
    text-align: center;
  }
  
  .opciones2 {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    text-orientation: inherit;
  }
  
  .avat  {
    margin: auto;
    border: 1px solid gray;
  }
  
  .cardPerfil{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .item-content{
    text-shadow: 2px 2px 5px #7592CF ;
  }