<ion-tabs>

  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      <ion-label>Buscador</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="add">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Agregar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search-weapon">
      <ion-icon name="search"></ion-icon>
      <ion-label>Arma</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="resources">
      <ion-icon name="search"></ion-icon>
      <ion-label>Recursos</ion-label>
    </ion-tab-button>


<!--     <ion-tab-button tab="list">
      <ion-icon name="podium"></ion-icon>
      <ion-label>Listado</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>

</ion-tabs>