<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <br>
    <ion-title>Extras</ion-title>
    <br>

    <ion-buttons slot="end">
      <ion-button>
   <!--    <ion-button (click)="actualizar()"> -->
          <ion-icon slot="icon-only" name="refresh-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content>
  <!-- Daños Elementales -->
  <ion-card>
    <img src="../../../assets/img/Damage2.PNG"/>
    <ion-card-content>
      <ion-card-title>
        Daños Elementales     
      </ion-card-title>
    </ion-card-content>
  </ion-card>
  <!-- Daño a Enemigos -->
  <ion-card>
    <img src="../../../assets/img/Damage1.jpg"/>
    <ion-card-content>
      <ion-card-title>
        Enemigos     
      </ion-card-title>
    </ion-card-content>
  </ion-card>
    <!-- Amp -->
    <ion-card>
      <img src="../../../assets/img/Amp.jpg"/>
      <ion-card-content>
        <ion-card-title>
          Amp     
        </ion-card-title>
      </ion-card-content>
    </ion-card>
  <!-- Kuva Lich -->
  <ion-card>
    <img src="../../../assets/img/KuvaLich.png"/>
    <ion-card-content>
      <ion-card-title>
        Kuva Lich     
      </ion-card-title>
    </ion-card-content>
  </ion-card>
</ion-content>
