<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">{{ details?.name }}</ion-title>
  </ion-toolbar>
</ion-header>
 

<ion-content>
  <form [formGroup]="todoForm" (ngSubmit)="storeData()">
    <div *ngIf="details">
      <ion-card>
        <ion-card-header>
          <img [src]="details.thumbnail | img " style="background: #F2F2F2;" *ngIf="details.thumbnail; else elseBlock ">
          <ng-template #elseBlock>
              <img src="../../../assets/img/noImage.jpg" style="background: #F2F2F2;">
          </ng-template>
          <ion-input formControlName="name" class="ion-text-capitalize titulo" [(ngModel)]="details.name" ></ion-input>
          <ion-card-subtitle class="ion-text-capitalize titulo">Description: {{ details.effect }}</ion-card-subtitle>
          <ion-card-subtitle class="ion-text-capitalize titulo">Farming: {{ details.location }}</ion-card-subtitle>
          <ion-card-subtitle class="ion-text-capitalize titulo">Rarity: {{ details.rarity }}</ion-card-subtitle>
          <br>
          <ion-input class="ion-hide" formControlName="category" [(ngModel)]="categoryArcane"></ion-input>
          <ion-input class="ion-hide" formControlName="component" (ngModel)="0"></ion-input>
          <ion-input class="ion-hide" formControlName="farming" (ngModel)="0"></ion-input>
          <ion-input class="ion-hide" formControlName="extra" (ngModel)="0"></ion-input>
          <ion-button size="small" color="success" expand="block" (click)="alerta()">Add</ion-button>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
  
      </ion-card>
    </div>
  </form>
  
</ion-content>
