<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <br>
    <ion-title>Baro Ki'Teer</ion-title>
    <br>

    <ion-buttons slot="end">
      <ion-button (click)="getData()">
          <ion-icon slot="icon-only" name="refresh-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content>

   <!-- Baro -->
   <ion-card>
    <img src="../../../assets/img/baro.png"/>
    <ion-card-content>
      <ion-card-title>
        {{ baro['character'] }}
      </ion-card-title>
      <ion-card-subtitle>
        <strong> {{ baro['location'] }} </strong> 
      </ion-card-subtitle>
      <ion-card-subtitle *ngIf="baro['active'] == true">
        Available: YES
      </ion-card-subtitle>
      <ion-card-subtitle *ngIf="baro['active'] == false">
        Available: NO
      </ion-card-subtitle>
      <p *ngIf="baro['active'] == false">
        Begin: {{ baro['startString']}}
      </p>
      <p>
        Finish: {{ baro['endString']}}
      </p>
      <p>
        Finish: {{ baro['expiry'] | date:'short'}}
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card class="colorCard" *ngIf="baro['active'] == true">
    <ion-card-header>
      <ion-card-title>
        Inventory
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card button *ngFor="let s of baro['inventory']; let index = index" class="ion-text-capitalize">
        <ion-card-header>
          <ion-card-subtitle>
            <ion-label class="drops"> {{ s.item }} </ion-label>
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-label class="drops">Ducats: {{ s.ducats | number}} </ion-label>
          <ion-label class="drops">Credits: {{ s.credits | number }} </ion-label>
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>

</ion-content>
