<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Search Arcanes</ion-title>
  </ion-toolbar>
  <ion-searchbar color="light" animated (ionChange)="onSearchChange($event)"></ion-searchbar>

</ion-header>


<ion-content>

  <ion-list *ngIf="details.length == 0">
    <ion-item button *ngFor="let item of dataArcanos;" [routerLink]="item.regex">

      <ion-avatar slot="start" *ngIf="item.thumbnail; else elseBlock ">
        <img [src]="item.thumbnail | img " style="background: #F2F2F2;">
      </ion-avatar>
      <ng-template #elseBlock>
        <ion-avatar slot="start" #elseBlock>
          <img src="../../../assets/img/noImage.jpg" style="background: #F2F2F2;">
        </ion-avatar>
      </ng-template>
      <ion-label>
        <h2>{{ item.name }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item button *ngFor="let item2 of details" [routerLink]="item2.regex">
      <ion-avatar slot="start" *ngIf="item2.thumbnail; else elseBlock ">
        <img [src]="item2.thumbnail | img " style="background: #F2F2F2;">
      </ion-avatar>
      <ng-template #elseBlock>
        <ion-avatar slot="start" #elseBlock>
          <img src="../../../assets/img/noImage.jpg" style="background: #F2F2F2;">
        </ion-avatar>
      </ng-template>
      <ion-label>
        <h2>{{ item2.name }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
