<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="update()">
          <ion-icon slot="icon-only" name="refresh-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Pending Arcanes</ion-title>
  </ion-toolbar>
  <ion-searchbar color="light" animated (ionChange)="search($event)" ></ion-searchbar>
</ion-header>

<ion-content class="ion-padding" >
  <ion-card class="colorCard">
    <ion-card-header>
      <ion-card-subtitle>Arcanes:  <strong>{{ resultAllArcane }} </strong> </ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card *ngFor="let item of Data | filtro: textSearch: 'Name'; let index = index" color="light">
    <span *ngIf="!item.isEdit; else elseBlock">
      <ion-card-header>
        <ion-card-title> {{item.name}} </ion-card-title>
        <ion-card-subtitle>Category: {{item.category}}</ion-card-subtitle>
        <ion-card-subtitle>Component: {{item.component}}</ion-card-subtitle>
        <ion-card-subtitle>Farming: {{item.farming}}</ion-card-subtitle>
        <ion-card-subtitle>Extra: {{item.extra}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-button shape="round" color="secondary" size="small" (click)="EditRecord(item)">
          <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
        </ion-button>
        <ion-button shape="round" color="danger" size="small" (click)="deleteItem(item.id)">
          <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-card-content>
    </span>
    <ng-template #elseBlock>
      <ion-card-header>
        <ion-card-title>
          <ion-grid>
            <ion-row>
              <ion-col>
                Editar
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button fill="solid" color="medium" size="small" (click)="item.isEdit = false">
                  Close
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button fill="solid" color="success" size="small" (click)="updateItem(item)">
                  Edit
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item color="light">
          <ion-label><strong>Name</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.EditName"></ion-input>
        </ion-item>
        <ion-item color="light">
          <ion-label><strong>Category</strong></ion-label>
          <ion-select type="text" [(ngModel)]="item.EditCategory" okText="Ok" cancelText="Cancel">
            <ion-select-option value="Warframes">Warframe</ion-select-option>
            <ion-select-option value="Primary">Primary</ion-select-option>
            <ion-select-option value="Secondary">Secondary</ion-select-option>
            <ion-select-option value="Melee">Melee</ion-select-option>
            <ion-select-option value="Arch">Arch</ion-select-option>
            <ion-select-option value="Sentinels">Sentinels</ion-select-option>
            <ion-select-option value="Pets">Pets</ion-select-option>
            <ion-select-option value="Arcanes">Arcanes</ion-select-option>
            <ion-select-option value="Mods">Mods</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item color="light">
          <ion-label><strong>Component</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.EditComponent"></ion-input>
        </ion-item>
        <ion-item color="light">
          <ion-label><strong>Farming</strong></ion-label>
          <ion-textarea type="text" [(ngModel)]="item.EditFarming"></ion-textarea>
        </ion-item>
        <ion-item color="light">
          <ion-label><strong>Extra</strong></ion-label>
          <ion-textarea type="text" [(ngModel)]="item.EditExtra"></ion-textarea>
        </ion-item>
      </ion-card-content>
    </ng-template>
  </ion-card>
</ion-content>
